# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /groeieninbewustzijn/

RewriteCond C:\xampp\htdocs\groeieninbewustzijn/wp-content/sitemaps%{REQUEST_URI} -f
RewriteRule \.xml(\.gz)?$ /groeieninbewustzijn/wp-content/sitemaps%{REQUEST_URI} [L]

RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /groeieninbewustzijn/index.php [L]
</IfModule>

# END WordPress
